/* You can add global styles to this file, and also import other style files */
.ui-listbox-item, .add-ingredient .ui-listbox-item, .recipe-list .ui-listbox-item {
    margin: .5em;
    /* padding: .3em 0; */
    /* height: 1.6em; */
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    border-radius: 4px;
  }
  .ui-listbox-list, .ingredient-list .ui-listbox-list, .add-ingredient .ui-listbox-list, .recipe-list .ui-listbox-list {
    margin: 0em 0 0.5em 0;
    list-style-type: none;
    padding: 0;
    width: 100%;
    height: 100%;
    max-height: 25em;
  }
  .ui-listbox-list li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .ui-listbox-list li.selected {
    background-color: #CFD8DC;
    color: white;
  }
  .ui-listbox-list li.selected:hover {
    background-color: #BBD8DC;
    color: white;
  }
  ul{
      overflow: hidden; 
      overflow-y: scroll;
}
.badge {
    display: inline-block;
    /* font-size: small; */
    color: white;
    padding: 0.5em 0.7em 0.4em 0.7em;
    background-color:#405061;
    /* line-height: 1em; */
    position: relative;
    /* left: -1px; */
    /* top: -4px; */
    /* height: 1.8em; */
    height: auto;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
    width: 50%;
  }
  .badge-end {
    /* display: inline-block; */
    color: white;
    padding: 0.5em 0.7em 0.4em 0.7em;
    background-color:#676768;
    height: auto;
    border-radius: 0 4px 4px 0;
    float: right;
    width: 25%;
    text-align: right;
  }
.list {
    width:50%;
    margin-left: 3em;
}
.list-border {
    border-width: 1px;
    border-color: #c8c8c8;
}
.list-header {
    border-style: solid;
    border-radius: 4px 4px 0px 0px;
    background-color: #f4f4f4;
    height: 2.5em;
    text-align: center;
}
.list-footer {
  border-right-style: solid;
  border-left-style: solid;
  border-bottom-style: solid;
  background-color: #f4f4f4;
  height: 2.5em;
  text-align: center;
}
.list-title {
    font-weight: bold;
    height: 2em;
    display: inline-block;
    padding-top: 0.5em;
}
.list-search {
    border-right-style: solid;
    border-left-style: solid;
    height: 2.5em;
    padding: 0.5em 0.857em 0.25em 0.857em
}
.list-search input, .list-input {
    border-radius: 4px;
    width: 100%;
    height: 2em;
    border-style:solid;
    text-indent: 1em;
}
.list-input {
  width: 50%;
  float:right;
  margin-top: 0.35em;
  margin-right: 0.35em;
}
.list-container {
    border-style: solid;
    min-height: 15em;
    max-height: 25em;
    /* padding-bottom: 8px; */
}
.left-content {
  width: 50%;
  float: left;
}
.right-content {
  width: 50%;
  float: left;
}
.left-content .list {
  width: 66%;
}
.right-content .list {
  width: 66%;
  margin-left: 0;
}