<div class="add-ingredient list">
    <h3>Add a new ingredient</h3>
    <ul class="ui-listbox-list no-scroll">
        <li class="ui-listbox-item">
        <label><span class="badge">Ingredient name:</span><input #ingredientName [(ngModel)]="ingredient.name" /></label>
        </li>
        <li class="ui-listbox-item"><label class="badge">Measurement:</label>
            <input #measurement [(ngModel)]="ingredient.measurement" />
        </li>
          <li class="ui-listbox-item"><label class="badge">Calories:</label>
            <input type="number" #calories [(ngModel)]="ingredient.calories" />
          </li>
        <button (click)="addIngredient(); ">
          add
        </button>
    </ul>
    </div>