.add-ingredient .badge {
    width: 8em;
}
.add-ingredient input { 
    font-size: small;
    left: -11px;
    top: -3px;
    line-height: 1em;
    height: 2em;
    position: relative;
    /* padding: 0.8em 0.7em 0 0.7em; */
    border-style:hidden; 
    border-radius:4px; 
    padding:4px;  
    background-color: #EEE;
} 
.add-ingredient button {
  border-radius:4px; 
  background-color: #3D94F6;
}
.add-ingredient ul {
    list-style-type: none;
}
button {
    position: relative;
    margin: 1em 0em 0em 0em;
    border-radius: 4px;
    height: 2em;
    border-style:solid;
    float: right;
    font-size: medium;
    right: 0em;
    padding: 0em 1em 0em 1em;
}
ul.no-scroll {
    overflow-y: auto !important;
}